@import "constants";

.favourite-villas--container {
  padding: 2rem 5rem 7rem;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  .favorite-villas-line {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.3rem;
    h1 {
      color: $color-dark--1;
    }
    span {
      font-weight: bold;
      color: $color-dark--1;
    }
  }
  hr {
    border-color: $color-dark--2;
  }
  .no-fav-villas-yet {
    text-align: center;
    margin-top: 2rem;
    color: $color-dark--2;
    font-size: 2rem;
  }
  .favourite-villas--wrapper {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }
}
@media (max-width: 1760px) {
  .favourite-villas--container {
    .favourite-villas--wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (max-width: 1300px) {
  .favourite-villas--container {
    padding: 2rem 2rem;
  }
}
@media (max-width: 1210px) {
  .favourite-villas--container {
    .favourite-villas--wrapper {
      grid-template-columns: minmax(19rem, 26rem) minmax(19rem, 26rem);
      justify-content: center;
    }
  }
}
@media (max-width: 817px) {
  .favourite-villas--container {
    padding: 2rem 1rem;
    div {
      &:first-child {
        h1 {
          font-size: 1.8rem;
        }
      }
    }
    .favourite-villas--wrapper {
      grid-template-columns: 24rem;
      justify-content: center;
    }
  }
}
@media (max-width: 450px) {
  .favourite-villas--container {
    padding: 2rem 0rem;
    div {
      &:first-child {
        h1 {
          font-size: 1.4rem;
        }
      }
    }
    .favourite-villas--wrapper {
      grid-template-columns: auto;
      justify-content: center;
    }
  }
}
