@import "constants";

.other-amenities-container {
  padding: 3rem 10rem 3rem;
  background-color: $color-dark--3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  div {
    &:first-child {
      text-align: center;
      width: 60%;
      h1 {
        margin-bottom: 1.5rem;
        text-transform: capitalize;
      }
    }
  }
  .other-amenities-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4.5rem;
    .other-amenities-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 0;
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(7) {
        transform: translateY(-70%);
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6) {
        transform: translateY(70%);
      }
      .icon-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        border-radius: 50%;
        background-color: #fff;
        width: fit-content;
        box-shadow: 0px 5px 10px 0px rgba($color: $color-dark--1, $alpha: 0.4);
      }
      span {
        color: $color-dark--2;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
    .other-amenities-icon.other-amenities-animation {
      transform: translateY(0);
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 1;
    }
  }
}
.amenities-container {
  .amenities-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../assets/more-images/Amenities-back.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem 12rem;
    .amenities-header {
      color: #fff;
      text-align: center;
      padding: 0rem 1rem;
      margin: 0 auto;
      h1 {
        margin-bottom: 1.5rem;
      }
      p {
        width: 60%;
        margin: 0 auto;
      }
    }
    .amenities-card-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      padding: 5rem;
      gap: 2rem;
      .amenities-card {
        border-radius: $border-radius;
        background-color: $color-light;
        padding: 2rem;
        opacity: 0;
        transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
        &:nth-child(2),
        &:nth-child(4) {
          transform: translateX(40%);
        }
        &:nth-child(1),
        &:nth-child(3) {
          transform: translateX(-40%);
        }
        div {
          display: flex;
          gap: 1rem;
          align-items: center;
          margin-bottom: 1rem;
          span {
            background-color: $color-green;
            color: #fff;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            padding: 0.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        p {
          color: $color-dark--2;
        }
      }
      .amenities-card.amenities-card--animation {
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
      }
    }
  }
}
@media (max-width: 1440px) {
  .amenities-container {
    .amenities-wrapper {
      padding: 3rem;
    }
  }
}
@media (max-width: 1254px) {
  .amenities-container {
    .amenities-wrapper {
      .amenities-header {
        p {
          width: 70%;
        }
      }
    }
  }
  .other-amenities-container {
    padding: 3rem 5rem 3rem;
    gap: 4rem;

    div {
      &:first-child {
        width: 70%;
      }
    }
    .other-amenities-wrapper {
      gap: 3rem;
      justify-content: space-between;
    }
  }
}
@media (max-width: 952px) {
  .amenities-container {
    .amenities-wrapper {
      padding: 3rem 0rem;

      .amenities-card-wrapper {
        padding: 2rem 1rem;
      }
    }
  }
  .other-amenities-container {
    padding: 3rem 2rem 3rem;
    gap: 4rem;
    div {
      &:first-child {
        text-align: center;
        width: 100%;
      }
    }
    .other-amenities-wrapper {
      gap: 2.5rem;
      .other-amenities-icon {
        .icon-holder {
          padding: 0.5rem;
        }

        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}
@media (max-width: 816px) {
  .amenities-container {
    .amenities-wrapper {
      .amenities-header {
        p {
          width: 100%;
        }
      }
      .amenities-card-wrapper {
        .amenities-card {
          padding: 1rem;
          div {
            span {
              width: 1rem;
              height: 1rem;
            }
          }
          p {
            font-size: 0.95rem;
          }
        }
      }
    }
  }
  .other-amenities-container {
    div {
      &:first-child {
        width: 100%;
        h1 {
          font-size: 1.6rem;
        }
        p {
          font-size: 0.95rem;
        }
      }
    }
    .other-amenities-wrapper {
      grid-template-columns: repeat(3, 1fr);
      .other-amenities-icon {
        .icon-holder {
          padding: 0.7rem;
        }
      }
    }
  }
}
@media (max-width: 675px) {
  .amenities-container {
    .amenities-wrapper {
      .amenities-card-wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (max-width: 425px) {
  .other-amenities-container {
    padding: 3rem 1rem 3rem;
  }
}
@media (max-width: 399px) {
  .other-amenities-container {
    .other-amenities-wrapper {
      .other-amenities-icon {
        opacity: 1;
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {
          transform: translateY(0%);
        }
      }
    }
  }
  .amenities-container {
    .amenities-wrapper {
      .amenities-card-wrapper {
        .amenities-card {
          opacity: 1;
          &:nth-child(2),
          &:nth-child(4) {
            transform: translateX(0%);
          }
          &:nth-child(1),
          &:nth-child(3) {
            transform: translateX(0%);
          }
        }
      }
    }
  }
}
