@import "constants";
@import "mixins";
.contacts-container {
  background-color: $color-dark--3;
  padding: 3rem 15rem;
  header {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    h1 {
      margin-bottom: 1rem;
    }
  }
  .accordions-wrapper {
    padding: 3rem 20rem;
    min-height: 50vh;
    .accordion-container {
      box-sizing: border-box;
      border-radius: $border-radius;
      .FAQ {
        cursor: pointer;
        background-color: $color-light;
        padding: 1rem;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        margin-bottom: 0.5rem;
        .label {
          transition: color 0.2s cubic-bezier(0, 1, 0, 1);
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 0.5rem;
          .arrow-down {
            transform: rotate(0deg);
            transition: transform 0.2s ease-in-out;
          }
        }
        .label.active {
          transition: color 0.2s cubic-bezier(1, 0, 1, 0);
          color: $color-brand--3;
          .arrow-down {
            transform: rotate(180deg);
            transition: transform 0.2s ease-in-out;
          }
        }
        h3,
        .answer {
          padding-right: 2rem;
        }
        .answer {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
        }
        .answer.show {
          max-height: 99rem;
          height: auto;
          transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
        }
      }
    }
  }
  .support-wrapper {
    display: flex;
    margin-top: 3rem;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    .support-image {
      background: url("../assets/more-images/customer-service.png") no-repeat;
      background-size: auto;
      background-position: center;
      width: 100%;
      height: auto;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    .submitQuestionForm {
      background-color: $color-dark--1;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      gap: 1rem;
      min-width: 30%;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      .form-header {
        color: $color-dark--3;
        h2 {
          margin-bottom: 0.5rem;
        }
      }
      input {
        @include inputFields();
        width: calc(100% - 25.7px);
      }

      textarea {
        @include inputFields();
        width: calc(100% - 25.7px);
        resize: none;
      }
      .submit-question-btn {
        @include btns(0.8rem, $color-brand--1);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
@media (max-width: 1752px) {
  .contacts-container {
    padding: 3rem 10rem;
    .accordions-wrapper {
      padding: 3rem 15rem;
    }
  }
}
@media (max-width: 1440px) {
  .contacts-container {
    padding: 3rem 5rem;
  }
}
@media (max-width: 1440px) {
  .contacts-container {
    .accordions-wrapper {
      padding: 3rem 10rem;
    }
  }
}
@media (max-width: 1172px) {
  .contacts-container {
    padding: 3rem;
    header {
      width: 70%;
    }
    .support-wrapper {
      flex-direction: column;
      margin-top: 0rem;
      .support-image {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        border-bottom-left-radius: unset;
        height: 30rem;
        background-size: cover;
      }
      .submitQuestionForm {
        border-top-right-radius: unset;
        border-bottom-left-radius: $border-radius;
        .form-header {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .contacts-container {
    .accordions-wrapper {
      padding: 3rem 0rem;
    }
  }
}
@media (max-width: 768px) {
  .contacts-container {
    padding: 1rem;
    header {
      width: 100%;
    }
  }
}
@media (max-width: 565px) {
  .contacts-container {
    .accordion-container {
      .FAQ {
        .label {
          h3 {
            font-size: 1.05rem;
          }
        }
        h3,
        .answer {
          padding-right: 2rem;
          font-size: 0.95rem;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .contacts-container {
    .support-wrapper {
      .support-image {
        height: 30rem;
        background-size: cover;
      }
      .submitQuestionForm {
        padding: 1rem;
      }
    }
  }
}
