@import "constants";
.testimonials-container {
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .testimonials-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .slider-container {
      width: 50rem;
      border-radius: $border-radius;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 5px 10px 0px rgba($color: $color-dark--1, $alpha: 0.4);
      .slides {
        width: inherit;
        .testimonial-container {
          box-sizing: border-box;
          height: inherit;
          padding: 3rem 3rem 0rem 3rem;
          min-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          .testimonial-comma {
            &:after {
              content: url("../assets/more-images/quote-icon.png");
            }
          }
          h2 {
            font-size: 1.5rem;
          }
          p {
            letter-spacing: 0.1rem;
            font-style: italic;
          }
          .testimonial-customer {
            display: flex;
            gap: 0.5rem;
            img {
              min-width: inherit;
              width: 4rem;
              height: 4rem;
            }
            div {
              display: flex;
              flex-direction: column;
              gap: 0.4rem;
              p {
                font-style: normal;
                &:first-child {
                  font-size: 1.3rem;
                  font-weight: bold;
                  letter-spacing: 0rem;
                }
                &:nth-child(2) {
                  color: $color-brand--3;
                  letter-spacing: 0.1rem;
                  text-transform: uppercase;
                  font-weight: bold;
                  font-size: 0.9rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .testimonials-container {
    padding: 3rem 0rem 5rem;
  }
}
@media (max-width: 830px) {
  .testimonials-container {
    .testimonials-wrapper {
      .slider-container {
        width: 100%;
        max-width: 40rem;
      }
    }
  }
}
@media (max-width: 670px) {
  .testimonials-container {
    .testimonials-wrapper {
      .slider-container {
        width: 35rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .testimonials-container {
    .testimonials-wrapper {
      .slider-container {
        width: 29rem;
        .slides {
          .testimonial-container {
            padding: 2.5rem 2.5rem 0rem;
            gap: 0.7rem;
            h2 {
              font-size: 1.4rem;
            }
            p {
              letter-spacing: 0.1rem;
              font-size: 0.9rem;
            }
            .testimonial-customer {
              gap: 0.5rem;
              img {
                width: 3rem;
                height: 3rem;
              }
              div {
                gap: 0rem;
                p {
                  &:first-child {
                    font-size: 1.2rem;
                  }
                  &:nth-child(2) {
                    font-size: 0.8rem;
                  }
                }
              }
            }
          }
        }
        .slide-count-wrapper {
          .slide-count {
            gap: 0.5rem;
            div {
              width: 0.6rem;
              height: 0.6rem;
            }
            .count-active {
              padding: 0.1rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .testimonials-container {
    padding: 2rem 0rem 0rem;
    .testimonials-wrapper {
      .slider-container {
        width: 22rem;
        .slides {
          .testimonial-container {
            box-sizing: border-box;
            justify-content: center;
          }
        }
        .slide-count-wrapper {
          button {
            padding: 0rem;
            opacity: 1;
            background-color: transparent;
            z-index: 100;
            svg {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .testimonials-container {
    .testimonials-wrapper {
      .slider-container {
        width: 18.5rem;
        .slides {
          .testimonial-container {
            padding: 1rem 1rem 0rem;
          }
        }
      }
    }
  }
}
