@import "constants";
@import "mixins";

.user-layout {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: $color-dark--1;
  .user-layout-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: $color-dark--3;
    padding: 2rem;
    border-radius: $border-radius;
    min-width: 50%;
    min-height: 80vh;
    gap: 2rem;
    nav {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      transition: background-color 0.2s ease-in-out;
      width: fit-content;
      a {
        padding: 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 0.2rem;
        border-radius: $border-radius;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        &:visited {
          color: $color-dark--1;
          text-decoration: none;
        }
        &:link {
          color: $color-dark--1;
          text-decoration: none;
        }
        &:active {
          color: $color-dark--1;
        }
        &:hover {
          background-color: $color-brand--1-hover;
          transition: all 0.2s ease-in-out;
        }
        span {
          display: flex;
          align-items: center;
        }
      }
      .active {
        background-color: $color-brand--1;
      }
    }
    main {
      .user-profile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .user-info-form {
          margin: 1rem 0rem 0rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          input {
            &:disabled {
              cursor: not-allowed;
              background-color: $color-light;
            }
          }
          .avatar-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            label {
              width: fit-content;
              display: inline-block;
              position: relative;
              cursor: pointer;
              .user-avatar {
                border-radius: 50%;
                width: 6rem;
                height: 6rem;
                object-fit: cover;
                transition: 0.2s ease-in-out;
              }
              .user-icon {
                width: 6rem;
                height: 6rem;
              }
              &:hover {
                .user-avatar,
                .user-icon {
                  transition: 0.2s ease-in-out;
                  filter: brightness(50%);
                }
                &::after {
                  content: "+";
                  font-size: 4rem;
                  color: #fff;
                  transition: 0.2s ease-in-out;
                  position: absolute;
                  top: 47%;
                  left: 51%;
                  transform: translate(-50%, -50%);
                  pointer-events: none;
                  border-radius: 50%;
                }
              }
              .remove-avatar-btn {
                border: none;
                background-color: transparent;
                color: $color-red;
                font-weight: bold;
                font-size: 1rem;
                position: absolute;
                top: -0.3rem;
                right: -1.3rem;
                cursor: pointer;
                &:disabled {
                  cursor: not-allowed;
                }
              }
            }
            label.disabled {
              cursor: not-allowed;
            }
            #avatar {
              display: none;
            }
          }
          .input-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            border-radius: $border-radius;
            label {
              font-weight: bold;
            }
            input {
              @include inputFields();
            }
          }
          .gender-wrapper {
            p {
              font-weight: bold;
            }
            .radio-inputs {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              div {
                display: flex;
                gap: 0.2rem;
                align-items: center;
              }
            }
          }
          .form-btns {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            .cancel-btn {
              @include btns(0.4rem 1rem, $color-light--red);
              color: #fff;
              &:hover {
                background-color: $color-red;
              }
            }
            .save-btn {
              @include btns(0.4rem 1rem, $color-green);
              color: #fff;
              &:hover {
                background-color: $color-green-hover;
              }
              &:disabled {
                opacity: 0.8;
              }
            }
            .edit-btn {
              @extend .save-btn;
            }
            .change-pass-btn {
              @extend .cancel-btn;
            }
            .delete-acc-btn {
              @extend .cancel-btn;
            }
          }
          .edit-btn,
          .cancel-btn,
          .save-btn,
          .change-pass-btn {
            border: none;
          }
        }
        .verify-otp-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: min-content;
          p {
            color: $color-dark--1;
            font-weight: bold;
          }
          .otp-expired {
            display: flex;
            gap: 0.5rem;
            a {
              font-weight: bold;
            }
          }
          form {
            @extend .user-info-form;
            margin: 0rem;
            .input-wrapper {
              margin-top: 0.3rem;
              gap: 0.1rem;
              label {
                font-size: 0.9rem;
              }
            }
            .form-btns {
              .cancel-otp-btn {
                @extend .cancel-btn;
              }
              .verify-otp-btn {
                @extend .save-btn;
              }
            }
          }
        }
        .reset-pass-form {
          @extend .user-info-form;
          h2 {
            text-align: center;
            margin-bottom: 0.5rem;
          }
          .pass-wrapper {
            @extend .input-wrapper;
            position: relative;
            .pass-toggle-icon {
              position: absolute;
              top: 50%;
              right: 4%;
              cursor: pointer;
              z-index: 100;
            }
          }
          .form-btns {
            .cancel-reset-btn {
              @extend .cancel-btn;
            }
            .reset-pass-btn {
              @extend .save-btn;
            }
          }
        }
      }
      .user-reservations-container {
        h1 {
          text-align: center;
          margin-bottom: 2rem;
        }
        .no-reservations-message {
          text-align: center;
          font-weight: bold;
        }
        .user-reservations-wrapper {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .reservation-card-container {
            background-color: $color-light;
            padding: 1rem;
            border-radius: $border-radius;
            transition: all 0.2s ease-in-out;
            white-space: nowrap;
            &:hover {
              box-shadow: 0px 5px 10px 0px
                rgba($color: $color-dark--1, $alpha: 0.4);
            }
            h2 {
              white-space: nowrap;
              margin-bottom: 0.5rem;
            }
            .reservation-card-information {
              display: flex;
              gap: 1rem;
              img {
                width: 12rem;
                height: 10rem;
                object-fit: cover;
                border-radius: $border-radius;
              }
              .reservation-card-information-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-weight: bold;
              }
            }
          }
        }
        .button-wrapper {
          display: flex;
          margin-top: 1rem;
          button {
            @include btns(0.4rem 1rem, $color-light--red);
            border: none;
            color: #fff;
            font-weight: 600;
            width: 100%;
            &:hover {
              background-color: $color-red;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .user-layout {
    .user-layout-wrapper {
      min-width: 80%;
      box-sizing: border-box;
    }
  }
}
@media (max-width: 923px) {
  .user-layout {
    .user-layout-wrapper {
      min-width: unset;
      width: 100%;
    }
  }
}
@media (max-width: 740px) {
  .user-layout {
    .user-layout-wrapper {
      grid-template-columns: unset;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      nav {
        flex-direction: row;
        align-items: center;
        a {
          padding: 0.7rem;
        }
      }
      main {
        width: 100%;
        .user-profile-container {
          width: inherit;
          h1 {
            font-size: 1.55rem;
          }
          .user-info-form {
            width: inherit;

            .input-wrapper {
              input {
                @include inputFields();
                width: unset;
              }
            }
          }
          .verify-otp-form {
            width: inherit;
          }
        }
        .user-reservations-container {
          h1 {
            font-size: 1.55rem;
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .user-layout {
    .user-layout-wrapper {
      padding: 0.7rem;
    }
  }
}
@media (max-width: 505px) {
  .user-layout {
    .user-layout-wrapper {
      main {
        .user-reservations-container {
          .user-reservations-wrapper {
            .reservation-card-container {
              .reservation-card-information {
                img {
                  width: 8rem;
                  height: 8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .user-layout {
    .user-layout-wrapper {
      main {
        .user-reservations-container {
          .user-reservations-wrapper {
            .reservation-card-container {
              h2 {
                font-size: 1.3rem;
              }
              .reservation-card-information {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                  width: 100%;
                  height: 10rem;
                }
                .reservation-card-information-wrapper {
                  width: 100%;
                  display: flex;
                  align-items: flex-start;
                  gap: 0.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
